<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center>
    <form action="{% url 'add_data' %}" method="post">
        {% csrf_token %}
        <div>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="name"><br>
        <label for="">Email</label><br>
        <input type="email" id="lname" name="email">
        <br>
        <br>
        <div>
        <label for="country">Country:</label><br>
        <select id="country" name="country">
            <option selected disabled>Choose Country</option>
            {% for country in countries %}
                <option value="{{ country.id }}">{{ country.country_name }}</option>
            {% endfor %}
        </select>
        </div>
    <br>
<div>
        <label for="state">State:</label><br>
        <select id="state" name="state" disabled>
            <option selected disabled>Choose State</option>
        </select>
    </div>
    <br>
<div>
        <label for="city">City:</label><br>
        <select id="city" name="city" disabled>
            <option selected disabled>Choose City</option>
        </select>
        </div>
        <br>
        <input type="submit" value="Submit">
        </div>
    </form>

</center>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#country').change(function () {
            var countryId = $(this).val();
            if (countryId) {
                $.ajax({
                    type: 'GET',
                    url: '/get_states/',
                    data: {'country_id': countryId},
                    success: function (data) {
                        var states = data.states;
                        var stateSelect = $('#state');
                        stateSelect.empty().append('<option selected disabled>Choose State</option>');
                        $.each(states, function (index, state) {
                            stateSelect.append('<option value="' + state.id + '">' + state.state_name + '</option>');
                        });
                        stateSelect.prop('disabled', false);
                        $('#city').empty().prop('disabled', true);
                    }
                });
            } else {
                $('#state, #city').empty().prop('disabled', true);
            }
        });

        $('#state').change(function () {
            var stateId = $(this).val();
            if (stateId) {
                $.ajax({
                    type: 'GET',
                    url: '/get_cities/',
                    data: {'state_id': stateId},
                    success: function (data) {
                        var cities = data.cities;
                        var citySelect = $('#city');
                        citySelect.empty().append('<option selected disabled>Choose City</option>');
                        $.each(cities, function (index, city) {
                            citySelect.append('<option value="' + city.id + '">' + city.city_name + '</option>');
                        });
                        citySelect.prop('disabled', false);
                    }
                });
            } else {
                $('#city').empty().prop('disabled', true);
            }
        });
    });
</script>
</body>
</html>